.rcotd-container{
    position: absolute;
    top:-120px;
    /*transition: all .05s;*/

}
.rcotd-popup{
    position: relative;
    top: 0;
    height: 100px;
    background: #eee;
    width: 400px;
    color: inherit;
    border: 1px dashed #345657;
    text-align: center;
    z-index: 123456;
}

/*Override reddit overflow tag for parent elem*/
.entry{
    overflow:visible !important;
}